<!DOCTYPE html>
<html>
<head>
  <title>MongodbRorTutorial</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!-- http://stackoverflow.com/questions/16739581/possible-to-get-rails-4-working-on-windows -->
  <!-- stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true >
  < javascript_include_tag "application", "data-turbolinks-track" => true -->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
